.dc-chart {fill: #9ebed8; font-size:10px;}

html, body{
  width:100%;
  height:100%;
  background-color:rgb(10,25,40);
  color: #9ebed8;
  font-family:"Open Sans", sans-serif;
  font-size:14px;
  margin-top:7em;
  padding-left:1em;
  padding-right:1em;
}
.navbar-brand
{
  font-size:2.5em;
}
.navbar-nav
{
  font-size:1.25em;
}
.para{
  font-size:18px;
}

.hero{
  font-size:60px;
  width:100%;
  height:200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
  background-color:#9ebed8;
  color:rgb(10,25,40);
  border-radius: 10px;
  clear:both;
}

.row{
  margin-top:5em;
}
#filterizerRow
{
  margin-top:1em;
}
#headerBar
{
  background-color:rgb(10,25,40);
}
#filterizerNote
{
  width:100%;
  text-align:center;
}
#dailyHits-filterizer
{
  margin:0px;
  padding-top:0px;
  padding-bottom:0px;
}
.chart-title
{
  font-size:20px;
}
.chart-stage
{
  margin:16px;
}
.buttonHolder
{
  float:none;
  clear:both;
  width:100%;
  text-align:center;
}
.mainChooser
{
  float:none;
  clear:both;
  margin-right:auto;
  margin-left:auto;
}

#searchHolder
{
  width:100%;
  float:none;
  clear:both;
  text-align:center;
  padding-top:1em;
}
#searchBox
{
  width:80%;
  height:2em;
  border-radius:5px;
  color:#303030;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
  }